@import 'article';
@import 'firstView';
@import 'footer';
@import 'util';

html,
body {
    overflow-x: hidden;
}

body {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0.05em;
    text-align: left;
}

img {
    display: block;
    max-width: 100%;
}

@media screen and (min-width: 768px), print {
    
    body{
        font-size: 1.25rem;
    }
}